body {
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
}

h1 {
    width: 80%;
    text-align: center;
    text-transform: uppercase;
}


form {
    margin: 20px;
}


form h2 {
    width: 40%;

}

form label {
    display: block;
}

form input[type=text],
form input[type=date],
form input[type=email] {
    width: 220px;

}


form input[type=submit],
form input[type=reset]  {
    border-radius: 5px;
    background-color: #E8DFCE;
    margin-right: 100px;
    margin-top: 5px;
}