body {
    margin: 40px;
    padding: 10px;
    background-color: aliceblue;
}

nav {
    align-self: center;
    margin: 0px;
    padding-left: 1px;
    width: 80%;
    height: 48px;
    background: #009879;
}
nav ul {
    display: flex;
    padding-inline-start: 1px;
}

ul li {
    list-style: none;

}
li a {
    font-size: 30px;
    text-decoration:none;
    color: white;
    margin: 30px 20px 20px 20px;
    padding-top: 20px;
}



h1 {
    width: 80%;
    text-align: center;
    text-transform: uppercase;
}


form {
    margin: 20px 20px 20px 0;
    width: 300px;
    float: right;
    padding-left: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


form h4 {
    text-align: justify;
    vertical-align: center;
    padding: 6px;
    width: 200px;
    height: 30px;
    background: #009879;
    color: white;
    text-transform: uppercase;
}


form input[type=text],
form input[type=date],
form input[type=password],
form input[type=email] {
    margin:10px;
    display: block;
}

form span {
    margin: 5px;
    padding: 5px;
}


form input[type=submit],
form input[type=reset]  {
    border-radius: 5px;
    background-color: #E8DFCE;
    margin-top: 5px;
}


.styled-table {
    margin-top: 50px;
    text-align: center;
    border-color: black;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}